<div class="panel panel-default">
  <div class="panel-heading">Result: <%= @output.length %></div>
  <div class="panel-body">
    <% @output.each do |s| %>
      <span class="label label-default"><%= s %></span>
    <% end %>
  </div>
</div>
