<div class="panel panel-default">
  <div class="panel-heading">Result</div>
  <div class="panel-body">
    <% output(@q).each do |s| %>
      <span class="label label-default"><%= s %></span>
    <% end %>
  </div>
</div>
